<p class="separator"></p>

<body class="back">

<h1 class="title">collabs</h1>
        <mat-card class="element" *ngFor="let collab of lista_collabs"> 
            <mat-card-title><h2>{{collab.nombre}}</h2></mat-card-title>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> Autor: {{collab.autor}}</mat-card-title>
                <br>
               <div><mat-card-subtitle>{{collab.tipo}}</mat-card-subtitle></div> 

            </mat-card-header>
            <mat-card-content class="img">
                <div class="cuadrado" ></div>
                <p>{{collab.descripcion}}</p>
                <h3>Precio: {{collab.precio}}</h3>
            </mat-card-content>
            <mat-card-actions>
                <button mat-rise-button >Agregar al Carro</button>
            </mat-card-actions>
        </mat-card>
</body>