<app-login></app-login>
<mat-grid-list cols="4" rowHeight="3.2:1" > 
    <mat-grid-tile colspan= 2 rowspan= 6>
      <div class ="col 1"></div>
      <div class ="col-10">
        <h2>
          Una aplicación que facilita la contratación de personal, confiable y capacitado para realizar trabajos domésticos.
          Brindando así empleo a las personas que trabajan sin contrato.
        </h2>
      </div>
      <div class = "col - 1"></div>

    </mat-grid-tile>
    <mat-grid-tile colspan= 2 rowspan= 6 > <app-register></app-register>  </mat-grid-tile>
  </mat-grid-list>