<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>DigiArt</title>
</head>

<body class="container">
    <!--<div class="row">
        <div class="upperbar">
            <button (click)="openDialog()" type="submit" class="btn btn-outline-dark toprigth">Iniciar sesión</button>
        </div>
    </div>-->
    <p class="separator"></p>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-6">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Agregar Etiqueta</mat-card-title>
                        </mat-card-header>
                        <div class="container">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <button (click)="newEtiqueta()" mat-button>
                                        <img mat-card-image src="assets/img/Etiqueta.png">
                                    </button>
                                </div>
                                <div class="col-3"></div>
                            </div>
                            <div class="row">
                                <mat-list role="list">
                                    <div  *ngFor="let etiqueta of lista_etiquetas">
                                        <mat-list-item role="listitem">
                                            <div class="container">
                                                <div class="row">
                                                    {{etiqueta.e_nombre}}
                                                </div>
                                            </div>
                                            <button mat-icon-button (click) = "editEtiqueta(etiqueta)"> <mat-icon>edit</mat-icon> </button>
                                            <button mat-icon-button (click) = "eliminarEtiqueta(etiqueta.e_id)"> <mat-icon>clear</mat-icon> </button>  
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                    </div>
                                </mat-list>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-6">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Agregrar Colaborador</mat-card-title>
                        </mat-card-header>
                        <div class="container">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <button (click)="newColaborador()" mat-button>
                                        <img mat-card-image src="assets/img/Collab.png">
                                    </button>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-1">
            <button mat-raised-button color="warn" (click) = "logOut()">Salir</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
