<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>TIPP</title>
</head>
<body>

    <mat-drawer-container class="element">
        <!-- Side Menu -->
        
        <mat-drawer #drawer mode="over" class="sidemenu">
            <div *ngIf="emisor.tipo">
                <div class="d-flex justify-content-around">
                    <div class="cuadrado"></div>
                </div>

                <div *ngIf="userService.isLogin()">
                    <button mat-button (click)="irA('/usermenu/perfil')">{{userDisplayName}}</button>
                </div>
                
                <div class="d-flex justify-content-around">
                    <button mat-button (click) ="irA('/usermenu/citas')">Citas</button>
                </div>

                <div class="d-flex justify-content-around">
                    <button mat-button class="center">About</button>
                </div>
                
                <div class="d-flex justify-content-around">
                    <button mat-button><mat-icon class="center" (click)="irA('/usermenu/settings')">settings</mat-icon></button>
                </div>
                <div class="d-flex justify-content-around">
                    <button mat-button class="bottomcenter" (click)="irA('/checkout')">Cerrar Sesión</button>
                </div>

            </div>

            <div *ngIf="!emisor.tipo">
                <div class="d-flex justify-content-around">
                    <div class="cuadrado"></div>
                </div>

                <div *ngIf="userService.isLogin()">
                    <div>{{userDisplayName}}</div>
                </div>

                <div class="d-flex justify-content-around">
                    <button mat-button class="center">About</button>
                </div>
                
                <div class="d-flex justify-content-around">
                    <button mat-button><mat-icon class="center" (click)="irA('/colab-menu/perfil')">settings</mat-icon></button>
                </div>
                <div class="d-flex justify-content-around">
                    <button mat-button class="bottomcenter" (click)="irA('/checkout')">Cerrar Sesión</button>
                </div>
            </div>
        </mat-drawer>
        
        <!-- Pagina del Usuario -->
        <mat-drawer-content class="element">
            <mat-toolbar class="toolbar">
                <a (click)="drawer.toggle()">
                    <button mat-button ><mat-icon class="center">menu</mat-icon></button>
                </a>
            </mat-toolbar>
            <div class="container">
                <div class="row" >
                    <div class="col-1"></div>
                    <div class="col-10" >
                        <mat-card class="chatbox">
                            <mat-card-header>
                                Con el que chateo
                            </mat-card-header>
                            <mat-card-content class="messagebox">
                                <mat-card *ngFor="let mensaje of mensajeList">
                                    <ng-container *ngIf="mensaje.emisor == emisor.tipo">
                                        <textarea  style="width: 100%; resize: none; border: none; text-align: right;" disabled>
                                            {{mensaje.content}}
                                        </textarea>
                                    </ng-container>
                                    <ng-container *ngIf="mensaje.emisor == receptor.tipo">
                                        <textarea  style="width: 100%; resize: none; border: none;" disabled>
                                            {{mensaje.content}}                                            
                                        </textarea>
                                </ng-container>
                                </mat-card>
                            </mat-card-content>
                            <mat-card-actions>
                                <form [formGroup]="mensajeForm">
                                    <mat-form-field appearance="outline" class="chatInputText">
                                        <mat-label>Escriba su mensaje aqui</mat-label>
                                        <div class="d-flex justify-content-around">
                                            <input matInput placeholder="Escribe algo" formControlName="string"> 
                                        </div>
                                    </mat-form-field>
                                    <button [disabled] = "mensajeForm.invalid" (click)="enviarmensaje()" mat-button><mat-icon matSuffix>search</mat-icon></button>
                                </form>
                            </mat-card-actions>
                        </mat-card>

                        <div *ngIf="!emisor.tipo">
                            <div class ="row justify-content-md-center">
                                <button  mat-raised-button type="submit" color="accent" (click) = 'irA("/colabmenu")'>Regresar</button>
                            </div>
                        </div>
                        <div *ngIf="emisor.tipo">
                            <div class ="row justify-content-md-center">
                                <button  mat-raised-button type="submit" color="accent" (click) = 'irA("/usermenu")'>Regresar</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-1">
                        
                    </div>
                </div>
                    <google-map
                        width="100%"
                        [zoom]="zoom"
                        [center]="center"
                        [options]="options"
                    >
                        <map-marker
                            #markerElem
                            *ngFor="let marker of markers"
                            [position]="marker.position"
                            [label]="marker.label"
                            [title]="marker.title"
                            [options]="marker.options"
                        >
                        </map-marker>
                    </google-map>
            </div>
            
        </mat-drawer-content>
    </mat-drawer-container>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>                
</body>
</html>

