<div>

  <mat-toolbar class="grey">

    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span color="primary">Welcome to TIPP</span>
    <span class="spacer"></span>

    <span>

      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">


        <mat-form-field class="element">
            <mat-label>Correo</mat-label>
            <input type="text" matInput placeholder="Ex. ejemplo@email.com" formControlName="correoLog" id="correolog" 
            pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" >
        </mat-form-field>

        <mat-form-field class="element">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName='passwordLog' id="passwordlog">
        </mat-form-field>
            <button [disabled] = "LoginForm.invalid" mat-raised-button type="submit" color="accent">Registrar</button>
      </form>



    </span>

  </mat-toolbar>

</div>
