<div>

  <mat-toolbar color="primary">

    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span color="primary">Welcome to TIPP</span>
    <span class="spacer"></span>

    <span>

      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">


        <mat-form-field class="element">
            <mat-label>Correo</mat-label>
            <input type="email" matInput placeholder="Ex. ejemplo@email.com" formControlName="CorreoLog" id="correolog">
        </mat-form-field>

        <mat-form-field class="element">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName='PasswordLog' id="passwordlog">
        </mat-form-field>
 
            <button [disabled] = "LoginForm.invalid" mat-raised-button type="submit" color="accent" class="element">Registrar</button>
      </form>



    </span>


  </mat-toolbar>

</div>
