<div class="container-fluid">

  <mat-toolbar color="primary">

    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span color="primary">Welcome to TIPP</span>
    <span class="spacer"></span>
          <form>   
              <mat-form-field class="e-mail">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="algo@TippEsLoMejor.com">
              </mat-form-field>
              <mat-form-field class="password">
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password">
                </mat-form-field>
              <button mat-raised-button type="submit" color="main">Login</button>
          </form>

  </mat-toolbar>

</div>
