<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>TIPP</title>
    <script defer async 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_rCBrWnTOHvv0d2TvE4LqXNs9zOn6Uko&callback=initMap&libraries=&v=weekly">
    </script>
      
</head>
<body>

    <mat-drawer-container class="element">
        <!-- Side Menu -->
            <mat-drawer #drawer mode="over" class="sidemenu">
                <div class="d-flex justify-content-around">
                    
                    <img [src]="img" class="cuadrado">
                </div>

                <div *ngIf="auth.isLogin()">
                    <button mat-button (click)="irA('/usermenu/perfil')">{{userDisplayName}}</button>
                </div>
                
                <div class="d-flex justify-content-around">
                    <button mat-button (click)="irA('/usermenu/citas')">Citas</button>
                </div>

                <div class="d-flex justify-content-around">
                    <button mat-button class="center">About</button>
                </div>
                
                <div class="d-flex justify-content-around">
                    <button mat-button><mat-icon class="center" (click)="irA('/usermenu/settings')">settings</mat-icon></button>
                </div>
                <div class="d-flex justify-content-around">
                    <button mat-button class="bottomcenter" (click)="logOut()">Cerrar Sesión</button>
                </div>


            </mat-drawer>
        <!-- Pagina del Usuario -->
            <mat-drawer-content class="element">

                <!-- barra de menu -->
                <mat-toolbar class="toolbar">
                    <div (click)="drawer.toggle()">
                        <button mat-button><mat-icon class="center">menu</mat-icon></button>
                    </div>
                </mat-toolbar>

                <!-- buscador -->
                <div class="d-flex justify-content-around">
                    <form [formGroup]="name_tags" class="element">
                        <mat-form-field appearance="outline" class="buscador">
                            <mat-label>Buscar Colaborador</mat-label>
                            <div class="d-flex justify-content-around">
                                <input matInput placeholder="Buscar" formControlName="string">
                                <button (click)="buscarColaboradores()" mat-button><mat-icon matSuffix >search</mat-icon></button>
                            </div>
                        </mat-form-field>
                    </form>
                </div>

                <!-- mapa -->
                <div class="container">
                    <div *ngIf="modo == 'mapa'" >
                        <div class = "element"> 

                            

                            <div class = "row" >
                                <div class="col-8">
                                    <google-map
                                        width="100%"
                                        [zoom]="zoom"
                                        [center]="center"
                                        [options]="options"
                                        (mapClick)="click($event)"
                                    >
                                        <map-marker
                                            #markerElem
                                            *ngFor="let marker of markers"
                                            [position]="marker.position"
                                            [label]="marker.label"
                                            [title]="marker.title"
                                            [options]="marker.options"
                                            (mapClick)="openInfo(markerElem, marker.info)"
                                        >
                                        </map-marker>

                                    </google-map>
                                </div>
                                <div class = "col-4" >
                                    <div class="maxheight">
                                        <mat-card class = "elementD" style="flex: 1 1 auto;" *ngFor = "let tags of lista_etiquetas">

                                            <mat-card-header>
                                                <mat-card-title>{{tags.nombre}}</mat-card-title>
                                                <mat-icon aria-hidden="false" aria-label="Example home icon">assignment_ind</mat-icon>
                                            </mat-card-header>
                                            <mat-card-content>
                                                        <mat-list-item>{{tags.descripcion}}</mat-list-item>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <button mat-button (click) = "buscarEtiqueta(tags.nombre)">Buscar</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--  Aqui empieza el buscador -->
                <div *ngIf="modo == 'buscador'">
                    <button mat-button (click)="modoMapa()">Ver Mapa</button>
                    <div class="container">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10" style="display: flex; float: left; padding-left: 2px;">
                                <div class="container">
                                    <ng-container *ngFor ="let collabs of lista_collabs">
                                        <div class="row">
                                            <ng-container *ngFor ="let collab of collabs">
                                                    <mat-card class ="elementB" style="flex: 1 1 auto;">
                                                        <mat-card-header>
                                                            <mat-card-title>{{collab.nombre}}</mat-card-title>
                                                            <mat-card-subtitle>{{collab.correo}}</mat-card-subtitle>
                                                            <mat-icon aria-hidden="false" aria-label="Example home icon">grade</mat-icon>
                                                            {{collab.estrellas}}
                                                        </mat-card-header>
                                                        <img mat-card-image [src]="collab.foto" class="cuadrado">
                                                        <mat-card-content>
                                                            Etiquetas:
                                                                <mat-list role="list">
                                                                    <mat-list-item *ngFor="let tag of collab.etiquetas">{{tag.nombre}}</mat-list-item>
                                                                </mat-list>
                                                        </mat-card-content>
                                                        <mat-card-actions>
                                                            <button mat-button (click) = "contratar(collab)">Contratar</button>
                                                        </mat-card-actions>
                                                    </mat-card>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>

                </div>
                <!--  Aqui termina el buscador -->
                <div #map id="map"></div>

            </mat-drawer-content>
    </mat-drawer-container>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>                
</body>
</html>

