.element{
    width: 100%;
}

.center{
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
}
.mat-toolbar {
    margin: auto;
}


.spacer {
    flex: 1 1 auto;
}

.mat-icon {
    padding: 20px;
}