
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <mat-form-field class="element">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName='nombre' placeholder="Nombre">
        </mat-form-field>

        <mat-form-field class="element">
            <mat-label>Correo</mat-label>
            <input type="email" matInput placeholder="Ex. ejemplo@email.com" formControlName="Correo">
        </mat-form-field>

        <mat-form-field class="element">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName='Password'>
        </mat-form-field>
 
        <section>
            <button [disabled] = "formulario.invalid" mat-raised-button type="submit" color="accent" class="element">Registrar</button>
        </section>
        <a href="/register_colab"><p style="text-align: center;">Ser un colavorador</p></a> 
</form>
